#we need to install:
blas	                                 1.01.0
ca-certificates	                         2020.10.14	   2020.10.14
certifi	                                 2020.12.5	   2020.12.5
intel-openmp	                         2020.2	       2020.2
jpeg	                                 9b	           9b
libopencv	                             4.0.1	       4.0.1
libpng	                                 1.6.37	       1.6.37
libtiff	                                 4.1.0	       4.1.0
lz4-c	                                 1.9.2	       1.9.2
mkl	                                     2020.2	       2020.2
mkl-service	                             2.3.0	       2.3.0
mkl_fft	                                 1.2.0	       1.2.0
mkl_random	                             1.1.1	       1.1.1
numpy	                                 1.19.2	       1.19.2
numpy-base	                             1.19.2	       1.19.2
openssl	                                 1.1.1h	       1.1.1h
pip	                                     20.3.1	       20.3.1
py-opencv	                             4.0.1	       4.0.1
python	                                 3.8.5	       3.9.0
setuptools	                             51.0.0	       51.0.0
six	                                     1.15.0	       1.15.0

